<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Alone With Me</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<main role="main" id="app">

    <div v-if="shouldShowMessageForm" class="message-form">
        <div>
            <button @click="closeMessageForm()">&larr; Back</button>
        </div>

        <hr>

        <form action="/api/messages/" method="POST" @submit.prevent="sendMessage">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" v-model="message.name">
            </div>

            <div>
                <label for="body">Body</label>
                <textarea name="body" id="body" cols="30" rows="10" v-model="message.body" required></textarea>
            </div>

            <div>
                <label for="reply_me">
                    <input type="checkbox" name="reply_me" id="reply_me" v-model="message.reply_me">
                    I want to receive a reply.
                </label>
            </div>

            <div>
                <input type="submit" value="Send">
            </div>
        </form>
    </div>

    <div v-if="!shouldShowMessageForm">
        <h1>Talk to me.</h1>
        <p>
            Sometimes we just need to vent our thoughts, feelings, and emotions. And sometimes we want to do it
            without
            an audience. But sometimes we want to feel compassion by talking with a friend. You can now do both.
        </p>
        <p>
            <button type="button" @click="showMessageForm()">
                Write a Message
            </button>
        </p>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/index.js"></script>
</body>
</html>